
                $("#status-options ul li").click(function() {
                    $("#profile-img").removeClass();
                    $("#status-online").removeClass("active");
                    $("#status-away").removeClass("active");
                    $("#status-busy").removeClass("active");
                    $("#status-offline").removeClass("active");
                    $(this).addClass("active");

                    if ($("#status-online").hasClass("active")) {
                        $("#profile-img").addClass("online");
                    } else if ($("#status-away").hasClass("active")) {
                        $("#profile-img").addClass("away");
                    } else if ($("#status-busy").hasClass("active")) {
                        $("#profile-img").addClass("busy");
                    } else if ($("#status-offline").hasClass("active")) {
                        $("#profile-img").addClass("offline");
                    } else {
                        $("#profile-img").removeClass();
                    }

                    $("#status-options").removeClass("active");
                });

   
        <!-- <div style="width: 50%;">
            <label>User name:</label>
            <input type="text" id="user_name" />
            <br />
            <button type="button" class="btn btn-primary" id="enter_button">
                Enter
            </button>
        </div>

        <div id="users_list"></div>

        <div>
            to:
            <h1 id="to"></h1>
        </div>
        <div>
            <ul id="messages"></ul>
            <p id="isWriting"></p>
            <input id="m" />
            <button id="send_button">Send</button>
        </div>
 -->
       <!-- function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = $(".tabcontent");

                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                tablinks = $(".tablinks");

                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(
                        " active",
                        ""
                    );
                }

                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click(); -->


 <script>
            $(function() {
                var socket = io();

                $("#enter_button").click(() => {
                    user_name = $("#user_name").val();
                    socket.emit("username", user_name);
                    return false;
                });

                socket.on("usersList", function(list) {
                    var userListHtml = "";
                    for (let userData of list) {
                        userListHtml +=
                            '<button class="users" id="' +
                            userData.id +
                            '" >' +
                            userData.username +
                            "</button>";
                    }
                    $("#users_list").html(userListHtml);
                    return false;
                });

                $("#send_button").click(function() {
                    msg = $("#m").val();
                    to = $("#to").text();
                    socket.emit("sendMsg", { msg: msg, to: to });
                    $("#messages").append($("<li>").text(msg));
                    $("#m").val("");
                    return false;
                });

                socket.on("getMsg", msg => {
                    $("#messages").append($("<li>").text(msg));
                });

                $(document).on("click", ".users", function() {
                    ele_id = $(this).attr("id");
                    $("#to").text(ele_id);
                    return false;
                });

                if ($("#m").is(":focus")) {
                    socket.emit("isWriting");
                }

                socket.on("yesWriting", () => {
                    $("#isWriting").html(
                        $("<p>").text("user is writing...")
                    );
                });
            });
    </script>